<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,100}</string>
                <key>spriteSourceSize</key>
                <string>{303,100}</string>
                <key>textureRect</key>
                <string>{{142,1},{303,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{447,1},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hxg_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_author.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,110}</string>
                <key>spriteSourceSize</key>
                <string>{613,110}</string>
                <key>textureRect</key>
                <string>{{1,142},{613,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainMenu.png</string>
            <key>size</key>
            <string>{615,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:799a133a6b2d4dc963947ee742620bef:6b68d85291f6106fcc60bae8d594aa6b:79dbda9c62161c2d7a2568084c65db39$</string>
            <key>textureFileName</key>
            <string>mainMenu.png</string>
        </dict>
    </dict>
</plist>
