<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,142}</string>
                <key>spriteSourceSize</key>
                <string>{540,142}</string>
                <key>textureRect</key>
                <string>{{723,1302},{540,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RemoveDark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,121}</string>
                <key>spriteSourceSize</key>
                <string>{266,121}</string>
                <key>textureRect</key>
                <string>{{1450,589},{266,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RemovePlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,121}</string>
                <key>spriteSourceSize</key>
                <string>{266,121}</string>
                <key>textureRect</key>
                <string>{{723,1515},{266,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,121}</string>
                <key>spriteSourceSize</key>
                <string>{266,121}</string>
                <key>textureRect</key>
                <string>{{1450,857},{266,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1182,1515},{185,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{1743,1558},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{1199,1827},{86,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backHome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1450,1125},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1048}</string>
                <key>spriteSourceSize</key>
                <string>{720,1048}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1048}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,153}</string>
                <key>spriteSourceSize</key>
                <string>{703,153}</string>
                <key>textureRect</key>
                <string>{{1,1788},{703,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,735}</string>
                <key>spriteSourceSize</key>
                <string>{720,735}</string>
                <key>textureRect</key>
                <string>{{1,1051},{720,735}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1501,1588},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,100}</string>
                <key>spriteSourceSize</key>
                <string>{303,100}</string>
                <key>textureRect</key>
                <string>{{1,1947},{303,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_match.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,161}</string>
                <key>spriteSourceSize</key>
                <string>{510,161}</string>
                <key>textureRect</key>
                <string>{{1601,1},{510,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_out_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1439,1718},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,569}</string>
                <key>spriteSourceSize</key>
                <string>{720,569}</string>
                <key>textureRect</key>
                <string>{{723,731},{720,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{972,1848},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1074,1845},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1074,1947},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1176,1915},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1278,1915},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1631,1703},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1630,1805},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1733,1756},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1732,1858},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1392,1834},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1380,1936},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{723,1638},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{1265,1302},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{991,1515},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{706,1829},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{1456,1261},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{1586,1066},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,77}</string>
                <key>spriteSourceSize</key>
                <string>{318,77}</string>
                <key>textureRect</key>
                <string>{{1764,1},{318,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{1307,1827},{85,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{1494,1857},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{1482,1942},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{1569,1942},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,136}</string>
                <key>spriteSourceSize</key>
                <string>{187,136}</string>
                <key>textureRect</key>
                <string>{{1654,514},{187,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,136}</string>
                <key>spriteSourceSize</key>
                <string>{187,136}</string>
                <key>textureRect</key>
                <string>{{1654,652},{187,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,136}</string>
                <key>spriteSourceSize</key>
                <string>{187,136}</string>
                <key>textureRect</key>
                <string>{{1654,790},{187,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,136}</string>
                <key>spriteSourceSize</key>
                <string>{187,136}</string>
                <key>textureRect</key>
                <string>{{1654,928},{187,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_bg_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,136}</string>
                <key>spriteSourceSize</key>
                <string>{187,136}</string>
                <key>textureRect</key>
                <string>{{1647,1257},{187,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{1728,1960},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_null.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1743,1666},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{1250,1446},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{1573,589},{216,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{972,1950},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_connect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{1573,807},{216,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_countdown_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1631,1591},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_countdown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1706,1446},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1322,1704},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_out_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,29}</string>
                <key>spriteSourceSize</key>
                <string>{120,29}</string>
                <key>textureRect</key>
                <string>{{1777,1066},{120,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,67}</string>
                <key>spriteSourceSize</key>
                <string>{191,67}</string>
                <key>textureRect</key>
                <string>{{1764,321},{191,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1223,1446},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_time_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1456,1452},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_timeout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,67}</string>
                <key>spriteSourceSize</key>
                <string>{498,67}</string>
                <key>textureRect</key>
                <string>{{723,1446},{498,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgTerxtGameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{306,1947},{300,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,2}</string>
                <key>spriteSourceSize</key>
                <string>{680,2}</string>
                <key>textureRect</key>
                <string>{{1,1943},{680,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,728}</string>
                <key>spriteSourceSize</key>
                <string>{720,728}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{1808,1066},{33,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{1808,1111},{33,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{1808,1156},{33,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{1573,1025},{33,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_gray_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,73}</string>
                <key>spriteSourceSize</key>
                <string>{137,73}</string>
                <key>textureRect</key>
                <string>{{1223,1629},{137,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_gray_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,73}</string>
                <key>spriteSourceSize</key>
                <string>{137,73}</string>
                <key>textureRect</key>
                <string>{{1362,1629},{137,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_gray_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,73}</string>
                <key>spriteSourceSize</key>
                <string>{137,73}</string>
                <key>textureRect</key>
                <string>{{1124,1706},{137,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_light_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,73}</string>
                <key>spriteSourceSize</key>
                <string>{137,73}</string>
                <key>textureRect</key>
                <string>{{897,1848},{137,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,73}</string>
                <key>spriteSourceSize</key>
                <string>{137,73}</string>
                <key>textureRect</key>
                <string>{{1555,1718},{137,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,73}</string>
                <key>spriteSourceSize</key>
                <string>{137,73}</string>
                <key>textureRect</key>
                <string>{{1631,1452},{137,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{1199,1704},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1601,513},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1656,1979},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1777,1201},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1785,1253},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1785,1305},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,59}</string>
                <key>spriteSourceSize</key>
                <string>{72,59}</string>
                <key>textureRect</key>
                <string>{{914,1787},{72,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{897,1987},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1656,1907},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{608,1947},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1586,1257},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>主页面.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1223,1493},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1359,1493},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>划线.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,3}</string>
                <key>spriteSourceSize</key>
                <string>{669,3}</string>
                <key>textureRect</key>
                <string>{{1445,589},{669,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>声音.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1495,1452},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>声音关.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,48}</string>
                <key>spriteSourceSize</key>
                <string>{49,48}</string>
                <key>textureRect</key>
                <string>{{1785,1357},{49,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>帮助.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{988,1706},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>暂停.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,72}</string>
                <key>spriteSourceSize</key>
                <string>{147,72}</string>
                <key>textureRect</key>
                <string>{{914,1638},{147,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>标题栏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,154}</string>
                <key>spriteSourceSize</key>
                <string>{586,154}</string>
                <key>textureRect</key>
                <string>{{1445,1},{586,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FC_Image.png</string>
            <key>size</key>
            <string>{1842,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58b48e633a0bae8bfe139becc4fa0c66:951209586f6515b307a45c1ed5b9d9ef:22eff7ec65c5cc808e8a459cbb12fd49$</string>
            <key>textureFileName</key>
            <string>FC_Image.png</string>
        </dict>
    </dict>
</plist>
